<div class="statusBannerStyles" [ngStyle]="{backgroundColor: getBackgroundColor()}">
  <div class="contentContainer">
    <div class="marginContainer">
      <div class="imgTxtContainer" >
        <div class="imgTxtItem">
          <img src="./assets/img/check.png" alt="V" width="20px" height="20px">
        </div>
        <div class="imgTxtItem">
          <div class="titleCls">
            {{this.title}}
          </div>
          <div class="subTitleCls">
            {{this.subTitle}}
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
