.statusBannerStyles {
  position: fixed;
  width: 100%;
  color: white;
  margin-left: -10px;
  margin-top: -115px;
}


.imgTxtContainer{
  display: flex;
  align-items: center;
}

.imgTxtItem{
  padding: 10px;
}

.titleCls{
  font-weight: bold;
}

.subTitleCls{

}
.contentContainer{
  //background-color: pink;
  //margin-left: 5%;
  padding: 10px;
}

.marginContainer{
  margin-left: 5%;
}
