<div class="header-full-container">

  <div class="outer-container">
    <div class="header-menu-item-container">
      <div class="menu-item">
        <img src="/assets/img/logo-react.png" alt="React" width="50px" height="50px">
      </div>
      <div class="menu-item">
        <div>Our Products</div>
      </div>
      <div class="menu-item">
        <div>FAQs</div>
      </div>
      <div class="menu-item">
        <div>Help</div>
      </div>
    </div>
    <div class="header-menu-item-container">
      <div class="menu-item">
        <p>Log out</p>
      </div>
    </div>
  </div>


</div>
