
<div class="section-container">
  <div class="profile-container">
    <app-title [title]="title" [subTitle]="subTitle"></app-title>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>
    <p>Profile 1</p>

  </div>
</div>
