<div class="section-container">
  <div class="home-container">
    <app-title [title]="title" [subTitle]="subTitle"></app-title>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>
    <p>Home 1</p>

  </div>
</div>
