<div class="footer-full-container">
  <div class="outer-container">
    <div class="footer-menu-item-container">
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
    </div>
  </div>



  <hr/>

  <div class="outer-container">
    <div class="footer-menu-item-container">
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
      <div class="menu-item">
        <div>Menu Item</div>
      </div>
    </div>
    <div class="footer-menu-item-container">
      <div class="menu-item">
        <div>© BT 2022</div>
      </div>
      <div class="menu-item">
        <img src="/assets/img/logo-react.png" alt="BT" width="30px" height="30px">
      </div>
    </div>
  </div>


</div>
